.ca-display-coords {
    font-size: 11px;
    padding-inline: calc(var(--spacing)*1.5);
}

.ca-mark-as-correct {
    background-color: #cb4334;
    border-radius: 1em;
    margin-left: 1ch;
    padding: 0 0.5ch;
}
.ca-mark-as-correct:hover, .ca-mark-as-correct:focus-visible {
    background-color: #d16458;
}
.ca-mark-as-correct:active {
    background-color: #d68d85;
}
.ca-mark-as-correct:disabled {
    background-color: #d68d85;
    cursor: not-allowed;
}
.ca-mark-as-correct::before {
    font-size: 12px;
}

#ca-overlay {
    background-color: #5D1F18E6;
    border-radius: 0.5em;
    color: white;
    font-size: var(--ca-ui-size);
    max-height: 100%;
    max-width: 19em;
    padding: 0.625em;
    position: absolute;
    right: 75px;
    top: 10px;
    transition:
        max-height 500ms,
        max-width 500ms,
        z-index 200ms;
    width: auto;
    white-space: nowrap;
    z-index: 49;
}

/* Go behind other popups when not hovering a tooltip */
#ca-overlay:not(:has(.tooltip:hover)) {
    z-index: 29;
}

/* Collapsing */
#ca-overlay.collapsed {
    max-width: 3.75em;
    max-height: 3.75em;
}

#ca-overlay > :not(#ca-header), #ca-overlay h1 {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 500ms;
}
#ca-overlay.collapsed > :not(#ca-header), #ca-overlay.collapsed h1 {
    opacity: 0;
}

div#ca-overlay {
    /* Font stack is as follows:
   * Highest Priority (Roboto Mono)
   * Windows fallback (Courier New)
   * macOS fallback (Monaco)
   * Linux fallback (DejaVu Sans Mono)
   * Any possible monospace font (monospace)
   * Last resort (Arial) */
    font-family: 'Roboto Mono', 'Courier New', 'Monaco', 'DejaVu Sans Mono', monospace, 'Arial';
    letter-spacing: 0.05em;
}

#ca-overlay h1 {
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    vertical-align: middle;
}

#ca-overlay hr {
    margin: 0.5em 0;
}

#ca-overlay small {
    font-size: 75%;
    color: lightgray;
    margin-top: 0;
    text-align: right;
}

#ca-overlay button {
    background-color: #cb4334;
    border-radius: 1em;
    padding: 0 0.75ch;
}
#ca-overlay button:hover, #ca-overlay button:focus-visible {
    background-color: #d16458;
}
#ca-overlay button:active {
    background-color: #d68d85;
}
#ca-overlay button:disabled {
    background-color: #d68d85;
    cursor: not-allowed;
}

#ca-overlay input[type="checkbox"] {
    height: 1.2em;
    cursor: pointer;
}
#ca-overlay input[type="range"] {
    height: 2em;
    flex: 1 0 auto;
    zoom: var(--ca-ui-size);
}

#ca-overlay select {
    border: white 1px solid;
    border-radius: 0.5em;
    background-color: #ab2314;
    font-size: 81%;
}
#ca-overlay select:hover, #ca-overlay select:open {
    background-color: #b14438;
}

#ca-overlay select:active {
    background-color: #b66d65;
}

#ca-overlay select:disabled {
    background-color: #b66d65;
    cursor: not-allowed;
}

#ca-overlay .tooltip-content {
    font-size: 90%;
}
#ca-overlay .tooltip-content > kbd {
    margin-left: 0;
}

.ca-hehe {
    display: inline;
    height: 1.5em;
}
#ca-overlay span:has(> .ca-hehe) {
    display: inline-flex;
}

#ca-header {
    align-items: center;
    display: flex;
    gap: 1ch;
    justify-content: space-between;
}

#ca-image-collapse {
    border-radius: 0.75em;
    cursor: pointer;
    height: 2.5em;
}

#ca-user-info > p {
    height: 1.5em;
}

.ca-icon-button {
    border: white 1px solid;
    height: 1.5em;
    width: 1.5em;
    padding: 0 !important; /* Overrides the padding in "#ca-overlay button" */
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
}
.ca-icon-button svg {
    margin: 0 auto;
    fill: #111;
}

#ca-coords {
    display: flex;
    justify-content: space-between;
}

.ca-coords-input {
    appearance: auto;
    -moz-appearance: textfield;
    width: 5.5ch;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 0.5ch;
    font-size: 81%;
}
.ca-coords-input::-webkit-outer-spin-button,
.ca-coords-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#ca-settings {
    background-color: #FF000033;
    border-radius: 0.5em;
    font-size: 80%;
    margin-top: 0.5em;
    padding: 0 1ch;
    text-align: center;
}
#ca-settings > div {
    align-items: center;
    display: flex;
    gap: 1ch;
    justify-content: space-between;
    width: 100%;
}
#ca-settings input {
    filter: hue-rotate(160deg);
}

#ca-color-list-buttons {
    display: flex;
    font-size: 80%;
    gap: 0.75ch;
    justify-content: space-between;
    margin-top: 0.5em;
}

#ca-sorting {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

#ca-sort-select {
    flex: 1 0 auto;
    text-align: center;
    margin: 0 1ch;
}

#ca-color-list {
    background-color: #00000022;
    border-color: black;
    border-radius: .3em;
    border-width: 1px;
    font-size: 75%;
    margin-top: 0.5em;
    max-height: 10em;
    overflow: auto;
    padding: 0.42em;
}
#ca-color-list:empty {
    display: none;
}
.ca-color-row {
    align-content: center;
    align-items: center;
    background: linear-gradient(90deg, #F003 var(--ca-color-progress), #4F0333AA var(--ca-color-progress) var(--ca-color-wrong), transparent var(--ca-color-wrong));
    display: flex;
    flex-direction: row;
    gap: 0.5ch;
    justify-content: start;
}
.ca-color-row > * {
    flex: 0 0 auto;
}
.ca-color-row > input {
    filter: hue-rotate(130deg);
}
.ca-color-display {
    border-color: #FFF8;
    border-radius: 0.3em;
    border-width: 1px;
    cursor: pointer;
    height: 1.2em;
    width: 1.2em;
}
.ca-color-row > button {
    height: 1.3em;
    width: 1.3em;
}
.ca-color-name {
    flex: unset;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ca-templates > * {
    margin-top: 0.5em;
}

#ca-template-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1ch;
}

#ca-file-input {
    display: none !important;
}
#ca-select-button {
    flex: 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ca-create-button {
    flex: 0 0;
}

#ca-template-list {
    font-size: 80%;
    max-height: 10.1em;
    overflow: auto;
}
#ca-template-list:empty {
    display: none;
}
.ca-template-row {
    background-color: #FF000033;
    border-radius: 1em;
    margin-bottom: 3px;
    text-align: center;
}
.ca-template-flex {
    display: flex;
    justify-content: space-between;
    gap: 1ch;
}
.ca-template-flex > * {
    flex: 0 0 auto;
}
.ca-template-copy {
    margin-left: 0.5ch;
}
.ca-teleport-incorrect {
    margin-left: 0.5ch;
}
.ca-template-name {
    flex: unset;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ca-template-name:not([contenteditable]) {
    cursor: pointer;
}
.ca-template-right {
    align-items: center;
    display: flex;
}
.ca-template-right input {
    height: 1.5em;
    margin-right: 0.5ch;
    filter: hue-rotate(70deg);
}
.ca-template-counts {
    padding: 0 1ch;
}

#ca-output {
    font-size: 81%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 0.5ch;
    margin-top: 0.5em;
    height: 3.2em;
    resize: none;
    width: 100%;
}

#ca-bottom {
    display: flex;
    justify-content: space-between;
}
