#ca-overlay {
    background-color: #5D1F18E6;
    border-radius: 8px;
    color: white;
    max-height: 100%;
    max-width: 300px;
    padding: 10px;
    position: absolute;
    right: 75px;
    top: 10px;
    transition-duration: 500ms;
    transition-property: max-height, max-width;
    width: auto;
    white-space: nowrap;
    z-index: 29;
}

/* Collapsing */
#ca-overlay.collapsed {
    max-width: 60px;
    max-height: 60px;
}

#ca-overlay > :not(#ca-header), #ca-overlay h1 {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 500ms;
}
#ca-overlay.collapsed > :not(#ca-header), #ca-overlay.collapsed h1 {
    opacity: 0;
}

div#ca-overlay {
    /* Font stack is as follows:
   * Highest Priority (Roboto Mono)
   * Windows fallback (Courier New)
   * macOS fallback (Monaco)
   * Linux fallback (DejaVu Sans Mono)
   * Any possible monospace font (monospace)
   * Last resort (Arial) */
    font-family: 'Roboto Mono', 'Courier New', 'Monaco', 'DejaVu Sans Mono', monospace, 'Arial';
    letter-spacing: 0.05em;
}

#ca-overlay h1 {
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    vertical-align: middle;
}

#ca-overlay hr {
    margin: 0.5em 0;
}

#ca-overlay small {
    font-size: x-small;
    color: lightgray;
    margin-top: 0;
    text-align: right;
}

#ca-overlay button {
    background-color: #cb4334;
    border-radius: 1em;
    padding: 0 0.75ch;
}
#ca-overlay button:hover, #ca-overlay button:focus-visible {
    background-color: #d16458;
}
#ca-overlay button:active {
    background-color: #d68d85;
}
#ca-overlay button:disabled {
    background-color: #d68d85;
    cursor: not-allowed;
}

#ca-overlay select {
    border: white 1px solid;
    border-radius: 0.5em;
    background-color: #ab2314;
    font-size: small;
}
#ca-overlay select:hover, #ca-overlay select:open {
    background-color: #b14438;
}

#ca-overlay select:active {
    background-color: #b66d65;
}

#ca-overlay select:disabled {
    background-color: #b66d65;
    cursor: not-allowed;
}

#ca-overlay .tooltip-content {
    font-size: 90%;
}
#ca-overlay .tooltip-content > kbd {
    margin-left: 0;
}

#ca-image-collapse {
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    height: 2.5em;
    margin-right: 1ch;
    vertical-align: middle;
}

.ca-icon-button {
    border: white 1px solid;
    height: 1.5em;
    width: 1.5em;
    padding: 0 !important; /* Overrides the padding in "#ca-overlay button" */
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
}
.ca-icon-button svg {
    width: 50%;
    margin: 0 auto;
    fill: #111;
}

#ca-coords {
    display: flex;
    justify-content: space-between;
}

.ca-coords-input {
    appearance: auto;
    -moz-appearance: textfield;
    width: 5.5ch;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 0.5ch;
    font-size: small;
}
.ca-coords-input::-webkit-outer-spin-button,
.ca-coords-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#ca-copy-coords-button > svg {
    fill: white;
    stroke: #111;
    transition-property: fill;
    transition-duration: 250ms;
    width: 70%;
}

#ca-settings {
    background-color: #FF000033;
    border-radius: 0.5em;
    font-size: 80%;
    margin-top: 0.5em;
    padding: 0 1ch;
    text-align: center;
}
#ca-settings > div {
    display: flex;
    gap: 1ch;
    width: fit-content;
}
#ca-settings input {
    filter: hue-rotate(160deg);
}

#ca-color-list-buttons {
    display: flex;
    font-size: 80%;
    gap: 0.75ch;
    justify-content: space-between;
    margin-top: 0.5em;
}
#ca-enable-selected svg {
    width: 80%;
}

#ca-sorting {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

#ca-sort-select {
    flex: 1 0 auto;
    text-align: center;
    margin: 0 1ch;
}

#ca-sort-reverse > svg {
    width: 65%;
    stroke: #111;
    stroke-width: 10px;
}

#ca-color-list {
    background-color: #00000022;
    border-color: black;
    border-radius: .3em;
    border-width: 1px;
    font-size: 75%;
    margin-top: 0.5em;
    max-height: 120px;
    overflow: auto;
    padding: 5px;
}
#ca-color-list:empty {
    display: none;
}
.ca-color-row {
    align-content: center;
    align-items: center;
    background: linear-gradient(90deg, #F003 var(--ca-color-progress), #4F0333AA var(--ca-color-progress) var(--ca-color-wrong), transparent var(--ca-color-wrong));
    display: flex;
    flex-direction: row;
    gap: 0.5ch;
    justify-content: start;
}
.ca-color-row > * {
    flex: 0 0 auto;
}
.ca-color-row > input {
    filter: hue-rotate(130deg);
}
.ca-color-display {
    border-color: #FFF8;
    border-radius: 0.3em;
    border-width: 1px;
    cursor: pointer;
    height: 1.2em;
    width: 1.2em;
}
.ca-color-row > button {
    height: 1.3em;
    width: 1.3em;
}
.ca-color-row > button > svg {
    width: 80%;
}
.ca-color-name {
    flex: unset;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ca-templates > * {
    margin-top: 0.5em;
}

#ca-template-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1ch;
}

#ca-file-input {
    display: none !important;
}
#ca-select-button {
    flex: 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ca-create-button {
    flex: 0 0;
}

#ca-template-list {
    font-size: 80%;
}
#ca-template-list:empty {
    display: none;
}
.ca-template-row {
    background-color: #FF000033;
    border-radius: 1em;
    margin-bottom: 3px;
    text-align: center;
}
.ca-template-flex {
    display: flex;
    justify-content: space-between;
    gap: 1ch;
}
.ca-template-flex > * {
    flex: 0 0 auto;
}
.ca-template-name {
    flex: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ca-template-name {
    font-weight: bold;
}
.ca-template-right {
    display: flex;
}
.ca-template-right input {
    height: 1.5em;
    margin-right: 0.5ch;
    filter: hue-rotate(70deg);
}
.ca-template-counts {
    padding: 0 1ch;
}

#ca-output {
    font-size: small;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 0.5ch;
    margin-top: 0.5em;
    height: 3.2em;
    resize: none;
    width: 100%;
}

#ca-bottom {
    display: flex;
    justify-content: space-between;
}
